<!doctype html>
<html>

<head>
    <title>Area riservata Amministratori</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
    <link rel="stylesheet" href="/../css/style.css">
    <link rel="stylesheet" href="/../css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="https://production-assets.codepen.io/assets/fullpage/fullpage-b18e1835235a02c8e4dd6d74cbdcefe3f393218d26dd52d0a4309cb01070da31.css" />

</head>

<body>
    <center>
        <div class="nav-container">
            <ul class="menu">
                <li>
                    <a href="#/"><h1>Benvenuto ADMIN</h1></a>
                </li>

            </ul>
        </div>
        <div class="bottoni">
            <a href="/admin/user"><input type="button" value="Gestione Utenti" class="btn btn-info"></a>
            <a href="/admin_sapr/sapr"><input type="button" value="Gestione SAPR" class="btn btn-info"></a>
            <!--
        Deprecated - i dispositivi ausiliari vengono inseriti con le check-list Pre volo!
        <a href="/admin_dispositivi/ausiliari"><input type="button" value="Dispositivi Ausiliari" class="btn btn-info"></a>
        -->
            <a href="/admin_checklist/check_list"><input type="button" value="Gestione Check-list" class="btn btn-info"></a>
            <a href="/admin_storico/storico"><input type="button" value="Visualizza Voli" class="btn btn-info"></a>
            <a href="/logout"><input type="button" value="Logout" class="btn btn-danger"></a>
        </div>
    </center>
    <center>

        <video autoplay loop preload="auto">
<source src="https://s3.amazonaws.com/dd_web_assets/dji_vineyard.webm" type="video/webm">
<source src="https://s3.amazonaws.com/dd_web_assets/dji_vineyard.mp4">
<source src="https://s3.amazonaws.com/dd_web_assets/dji_vineyard.ogg" type="video/ogg">
Your browser does not support HTML5 video. Please try another browser.
</video>

    </center>
</body>

</html>
