<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title%>
    </title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/../css/style.css">
    <link rel="stylesheet" href="/../css/bootstrap.min.css">
</head>

<body>
    <h1><%=title%></h1>
    <form method="post" action="" id="the-form">
        <table cellpadding="11">
            <tr>
                <td class="label">Nome</td>
                <td>: <input type="text" name="nome" id="nome" value="<%=data[0].nome%>" readonly></td>
            </tr>

            <tr>
                <td class="label">Stato</td>
                <td>:
                    <%
            if(data[0].stato == '1'){ %>
                        <select name="stato" id="stato">
					<option value="1" selected>Attivo</option>
					<option value="0">Disattivato</option>
				</select>
                        <%
            }else{ %>
                            <select name="stato" id="stato">
					<option value="1">Attivo</option>
					<option value="0" selected>Disattivato</option>
				</select>
                            <%
            } %>
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    <input type="button" value="Submit" id="submit">
                </td>
            </tr>
        </table>
    </form>
    <script>
        $(document).ready(function() {
            var nome, stato;
            $("#submit").click(function() {
                nome = $("#nome").val();
                stato = $("#stato").val();

                $.post("http://localhost:3000/admin_checklist/checklist/" + <%=data[0].id%>, {
                    nome: nome,
                    stato: stato
                }, function(data) {
                    if (data === 'done') {
                        window.location.href = "/admin_checklist/check_list";
                    }
                });
            });
        });
    </script>

</body>

</html>
