<html>

<head>
	<title>Session Management in NodeJS using Express4.2</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/../css/style.css">
	<link rel="stylesheet" href="/../css/bootstrap.min.css">

</head>

<body>
	<h1>Benvenuto OSSERVATORE</h1>
	<div class="nav-container">
		<ul class="menu">
			<li><a href="/osservatore_fly/close">Concludi Volo </a></li>
			<li><a href="/osservatore_storico/visualizza">Visualizza Storico Voli</a></li>
		</ul>
	</div>
	<a href="/logout">Logout</a>
</body>

</html>
