<html>

<head>
	<title>Session Management in NodeJS using Express4.2</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/../css/style.css">
	<link rel="stylesheet" href="/../css/bootstrap.min.css">
</head>

<body>
	<center>
		<div class="nav-container">
			<ul class="menu">
				<li>
					<h1>Benvenuto PILOTA</h1>
				</li>
			</ul>
		</div>
		<div class="bottoni">
			<a href="/pilota/new"><input type="button" value="Crea Nuovo Volo" class="btn btn-info" /></a>
			<a href="/pilota_fly/close"><input type="button" value="Concludi Volo Attivo" class="btn btn-info"></a>
			<a href="/pilota_storico/visualizza"><input type="button" value="Visualizza Storico Voli" class="btn btn-info" /></a>
			<a href="/logout"><input type="button" value="Logout" class="btn btn-danger" /></a>
		</div>
	</center>
</body>

</html>
